$fa-font-path: '~font-awesome/fonts';
$icon-font-path: '~open-iconic/font/fonts/';
$font-styles-path: '~obi-bootstrap/fonts';
$font-family-base: 'Open Sans', Arial, sans-serif;
@import '~obi-bootstrap/scss/obi-common';

html.dark {
  @import '~obi-bootstrap/scss/dark-variables';
  @import '~bootstrap/scss/bootstrap';
  @import '~obi-bootstrap/scss/class-overrides/index';
  @import './partials/body';
  @import '~prismjs/themes/prism-okaidia';
}

html.light {
  @import '~obi-bootstrap/scss/light-variables';
  @import '~bootstrap/scss/bootstrap';
  @import '~obi-bootstrap/scss/class-overrides/index';
  @import './partials/body';
  @import '~prismjs/themes/prism-coy';
}

@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/dist/styles/ag-theme-bootstrap.css';
@import '~font-awesome/scss/font-awesome';
@import '~open-iconic/font/css/open-iconic-bootstrap';
